<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

	<context:property-placeholder location="classpath:application.properties" />

	<mvc:annotation-driven />

	<context:component-scan base-package="org.staalla.spring.security.jwt.rest" />

	<security:global-method-security
		pre-post-annotations="enabled" />

	<security:http pattern="/api/login" security="none" />
	<security:http pattern="/api/signup" security="none" />

	<!-- Entry point for REST service. -->
	<security:http pattern="/api/**" entry-point-ref="restAuthenticationEntryPoint"
		create-session="stateless">
		<security:custom-filter before="FORM_LOGIN_FILTER"
			ref="jwtAuthenticationFilter" />
	</security:http>
	<bean id="restAuthenticationEntryPoint" class="org.staalla.spring.security.jwt.rest.security.RestAuthenticationEntryPoint" />

	<!-- Custom Filter for REST service. -->
	<bean id="jwtAuthenticationFilter" class="org.staalla.spring.security.jwt.rest.security.JwtAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationSuccessHandler" ref="jwtAuthenticationSuccessHandler" />
	</bean>
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="jwtAuthenticationProvider" />
	</security:authentication-manager>
	<bean id="jwtAuthenticationProvider" class="org.staalla.spring.security.jwt.rest.security.JwtAuthenticationProvider" />
	<!-- A handler for successful REST service authentication. -->
	<bean id="jwtAuthenticationSuccessHandler"
		class="org.staalla.spring.security.jwt.rest.security.JwtAuthenticationSuccessHandler" />
	<bean id="jwtUtil" class="org.staalla.spring.security.jwt.rest.security.JwtUtil" />

</beans>